[Unit]
Description=AllskyHeating
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/allskyheating.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
